<!DOCTYPE html>
<html ng-app="popUp">
  <head>
    <meta charset="utf-8">
    <title>Intro to Angular Part 3</title>

    <link rel="stylesheet" href="main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.js"></script>

    <script src="main.js"></script>

  </head>
  <body>
    <button class="button" ng-click="popUp =! popUp" type="button" name="button" ng-hide="popUp" >Create Popup</button>

    <div ng-show="popUp" class="pop">

      <div class="popUp" >

        <h1>This is my big Pop Up</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <button ng-click="popUp =! popUp">
          Close
        </button>

      </div>
    </div>

  </body>
</html>
